

body{
	
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100% 100%; 

}

.div2{
	
	display: table;
	height: 160px;
	margin: 15px 0px 15px 0px;

}

.btnsArea{
	
	margin: 15px 0px 46px 0px;
	padding: 10px;
}

.getGif{

	margin: 8px;
}

.thumbnail{
	display: table-cell;
  	vertical-align: bottom;
}

.caption{

	position: relative;
	bottom: 0px;
}

.formArea{

	padding: 20px;
	margin-top: 15px;
	height: 160px;
}

.form-horizontal{

    position: relative;
    left: 32px;
    top: 11px;
}

.submitBtn{

	position: relative;
    left: 29px;
    top: 11px;
}

.gifsArea{
    position: relative;
    right: 15px;
}

h1{

    position: relative;
    bottom: 20px;
    font-family: 'Gloria Hallelujah', cursive;
}

.formArea{
	
	background-image: url("../images/smallbg.gif");
	background-repeat: no-repeat;
    background-size:50% 50%; 
    background-position: right top; 
}

.search{

	font-family: 'Handlee', cursive;
	padding: 20px;
	text-align: center;
	font-size: 120%;
}

